* {
    margin: 0;
    padding: 0;
}
body {
    font-family: monospace;
    text-align: center;
    color: #363636;
}
p {
    font-size: 30px;
}
h3 {
    display: none;
    position: relative;
    top: 245px;
    justify-content: center;
    
    font-size: 75px;
    font-weight: bold;
}